.pres-frame {
  background-color: #9CCC65;
  color: #1B5E20;
}

.frame {
  padding: 3% 7%;
  font-size: 3.5em;
  margin: 5%;
}

.center {
  text-align: center;
}

.frame h1 {
  font-size: 3em;
}

.frame h3 {
  margin: 0.2em;
  font-size: 1em;
}

.frame li {
  margin: 0.5em auto;
}

.frame img {
  border: 3px solid #1B5E20;
}

.frame .single img {
  width: 100%;
  margin: 1em;
}

.frame .doubleV {
  text-align: center;
}

.frame .doubleV img {
  width: 65%;
}

.frame iframe {
  width: 100%;
}
