html, body, .pres-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  padding-bottom: 2.75em; /* Added padding for controls. */
}

html.pres-on-fullscreen {
  padding: 0;
}

body {
  overflow-y: scroll; /* Force vertical scrollbar in preview. */
}

.pres-on-fullscreen body {
  overflow: hidden; /* Disable scrollbars in fullscreen. */
}

/* Frame in preview */
.pres-frame {
  border: 1px solid black;
  margin: 1%;
  padding: 0;
  overflow: hidden;
  float: left;
  position: relative;
  cursor: pointer;
}

/* Dragged frame */
.pres-frame.pres-drag-source {
  border-style: dashed;
}

/* Frame in fullscreen */
.pres-on-fullscreen .pres-frame {
  border: none;
  margin: 0 auto;
  float: none;
  cursor: inherit;
}

/* Currently selected frame */
.pres-frame.pres-active {
  box-shadow: 0 0 10px #1565C0;
}
.pres-on-fullscreen .pres-frame.pres-active {
  box-shadow: none;
}

/* Direct children are positioned absolutely in top left corner of frame. */
.pres-frame > * {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/* Last frame of presentation (not visible in preview) */
.pres-end-frame {
  background-color: black;
}
.pres-end-frame > div {
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* Bar with control elements */
.pres-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #BBDEFB;
  border-top: 1px solid #42A5F5;
  text-align: center;
}
.pres-controls > div {
  margin: auto;
  display: inline-block;
}
.pres-on-fullscreen .pres-controls {
  width: auto;
  border-top-right-radius: 1em;
  border-right: 1px solid #42A5F5;
}

/* Naviation controls */
.pres-nav-elem {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  color: #BBDEFB;
  background: #42A5F5;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0.2em 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 1em;
}

/* Preview zoom control */
.pres-zoom {
  position: absolute;
  right: 1.5em;
  padding: 0.5em;
}
.pres-zoom input {
  width: 20em;
}
